@import "~bootstrap/scss/bootstrap";

.note {
	display: flex;
	justify-content: space-between;
	align-items: center;

	strong {
		margin-right: 1rem;
	}
}

.alert-enter {
	opacity:0;
}
.alert-enter-active {
	transition : opacity 500ms ease-out;
	opacity : 1;
}

.alert-exit-active{
		transition : opacity 350ms ease-out;
		opacity : 0;
}
.note-enter-active{
	animation: note 800ms ease-in alternate-reverse;
}
.note-exit-active{
	animation: note 800ms ease-out forwards;
}

@keyframes note {
	0%{
		transform: translateX(0);
	}
	30%{
		opacity: .7;
		transform: translateX(30px);
	}
	100%{
		opacity: 0;
		transform: translateX(-200px);
	}
}